/* Navigation Section */
#navbar{
    flex-direction: column; 

}

/* Home Section */
#home{

}

/* Services Section */
#services{
    flex-direction: column;
}

/* Clients Section */
#clients{
    overflow: hidden ;

}
/* Contact Us Section */

/* Footer Section  */